@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fira+Sans+Condensed:ital@1&family=Kalam&display=swap');

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Balsamiq Sans', cursive;
}

.navbar{
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.1rem;
	background: rgba(0,0,0,0.6);
}

.navbar-dark .navbar-nav .nav-link{
	padding-right: 38px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
}

.heading-content{
	position: absolute;
	top: 40%;
	width: 100%;
	max-width: 100%;
}

.heading-content h5{
	font-size: 5em;
	font-weight: 300;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.heading-content h1{
	font-size: 6em;
	font-weight: bolder;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.heading-content p{
	font-size: 2em;
	text-transform: uppercase;
	font-weight: lighter;
	word-spacing: 5px;
	letter-spacing: 2px;
	font-family: 'Fira Sans Condensed', sans-serif;
}

#about .btn{
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #47824D;
	border-radius: 5px;
	margin-top: 10px;
}

#about .btn a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#about .btn:hover{
	background: #113E06;
	cursor: pointer;
}

.img-rounded{
   width: 280px;
}

.embed-responsive-1by1{
	width: 700px;
	height: 400px;
}

.modal-content{
	width: 900px;
	height: 4800px;
	background-color: white;
	opacity: 1;
	border-radius: 4px;
}

.modal-header{
	background-color: #E4E4E4;
}

.modal-title{
	margin-top: 25px;
}

.close{
	position: absolute;
	top: 0;
	left: -7px;
	font-size: 42px;
	cursor: pointer;
}

.offset:before{
	display: block;
	content: "";
	height: 6rem;
}

.contacticons{
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}

.contacticons a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.contacticons i{
	color: #2b2b2b;
	font-size: 20px;
}

.contacticons a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}

.contacticons a:hover i{
	color: #FFFFFF;
	transition: all ease 0.5s;
}

.contactinformation{
    width: 100%;
	display: flex;
	flex-direction: column;
}

.addressmap, .contactinfo{
	margin-right: 25px;
	padding-left: 18px;
	font-size: 20px;
	line-height: 50px;
}

#contact{
	background: url( "Images/ContactImage.jpg") no-repeat;
	background-size: cover;
}

@media screen and (max-width: 1000px){
	.heading-content h5{
	  font-size: 4em;
    }

    .heading-content h1{
	  font-size: 5em;
	}

    .heading-content p{
	  font-size: 1.6em;
     }
	
	.heading-content{
	  top: 22%;
    }
}


@media screen and (max-width: 767px){
	.heading-content h5{
	  font-size: 3em;
    }

    .heading-content h1{
	  font-size: 4em;
	}

    .heading-content p{
	  font-size: 1.3em;
     }
	
	.heading-content{
	  top: 13%;
    }
}
